#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	make

override_dh_auto_install:
	mkdir -p debian/happening/usr/bin
	mkdir -p debian/happening/usr/share/sbom
	install -m 0755 happening debian/happening/usr/bin/
	install -m 0644 happening-sbom.spdx.json debian/happening/usr/share/sbom/happening-$(shell dpkg-parsechangelog -S Version | sed 's/-.*//' ).spdx.json

override_dh_strip:
	# Do not strip SBCL-based binaries as it corrupts the embedded core

override_dh_auto_clean:
	rm -f happening
	dh_auto_clean
